
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="chat">
        <input type="text" id="message" placeholder="Enter your message">
        <button id="send">Send</button>
        <ul id="messages"></ul>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const message = document.getElementById('message');
        const send = document.getElementById('send');
        const messages = document.getElementById('messages');

        send.addEventListener('click', () => {
            socket.emit('message', message.value);
            message.value = '';
        });

        socket.on('message', (data) => {
            const li = document.createElement('li');
            li.appendChild(document.createTextNode(data));
            messages.appendChild(li);
        });
    </script>
    
</body>
</html>